html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(255,255,255);}
.pos{position:relative;margin-top:0;}
.vis{display:block;vertical-align:top;}
.section{pointer-events:none;min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:0;margin-top:0;}
.size{min-width:1200px;width:1200px;min-height:55px;}
.cont{z-index:1;border:0;background-color:rgb(51,51,51);}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.pos-3{position:relative;margin-left:225px;margin-top:15px;}
.size-2{min-width:750px;width:750px;min-height:40px;height:40px;}
.cont-2{z-index:2;pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:center;}
.font{font-family:"Helvetica Neue", sans-serif;font-size:18px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:31px;letter-spacing:normal;text-shadow:none;}
.pos-4{position:relative;margin-left:225px;margin-top:43px;}
.size-3{min-width:750px;width:750px;min-height:185px;height:185px;}
.cont-3{z-index:3;pointer-events:auto;}
.font-2{font-family:"Helvetica Neue", sans-serif;font-size:82px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(51,51,51);background-color:initial;line-height:140px;letter-spacing:normal;text-shadow:none;}
.pos-5{position:relative;margin-left:327px;margin-top:71px;}
.size-4{min-width:548px;width:548px;min-height:65px;height:65px;}
.cont-4{z-index:4;pointer-events:auto;}
.input{border:1px solid rgb(243,243,243);-webkit-border-radius:33px;-moz-border-radius:33px;border-radius:33px;background-color:rgb(243,243,243);padding:4px;width:548px;height:65px;font-family:"Helvetica Neue", sans-serif;font-size:22px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(51,51,51);line-height:27px;letter-spacing:normal;text-shadow:none;text-indent:0;padding-right:0;text-align:left;}
.pos-6{position:relative;margin-left:-339px;margin-top:158px;}
.size-5{min-width:130px;width:130px;min-height:37px;}
.cont-5{z-index:5;pointer-events:auto;}
.button{border:0;-webkit-border-radius:19px;-moz-border-radius:19px;border-radius:19px;background-color:rgb(54,121,242);}
.button:hover{background-color:rgb(130,147,158);border-color:rgb(51,51,51);color:rgb(51,51,51);}
.button:active{background-color:rgb(82,100,111);border-color:rgb(51,51,51);color:rgb(255,255,255);}
.vis-4{display:inline-block;overflow:hidden;outline:0;}
.size-6{width:130px;height:18px;}
.font-3{font-family:"Helvetica Neue", sans-serif;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);line-height:initial;letter-spacing:normal;text-shadow:none;text-indent:0;text-align:center;padding-top:9px;padding-bottom:10px;margin-top:0;margin-bottom:0;}
@media (max-width:1199px) {
.section{min-width:960px;width:960px;}
.size{min-width:960px;width:960px;min-height:44px;}
.pos-3{margin-left:180px;margin-top:12px;}
.size-2{min-width:600px;width:600px;min-height:32px;height:32px;}
.font{font-size:15px;line-height:26px;}
.pos-4{margin-left:0;margin-top:34px;}
.size-3{min-width:960px;width:960px;min-height:148px;height:148px;}
.font-2{font-size:66px;line-height:113px;}
.pos-5{margin-left:261px;margin-top:57px;}
.size-4{min-width:439px;width:439px;min-height:52px;height:52px;}
.input{-webkit-border-radius:26px;-moz-border-radius:26px;border-radius:26px;width:439px;height:52px;font-size:18px;line-height:23px;}
.pos-6{margin-left:-271px;margin-top:127px;}
.size-5{min-width:104px;width:104px;min-height:29px;}
.button{-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;}
.size-6{width:104px;height:15px;}
.font-3{font-size:12px;padding-top:7px;padding-bottom:7px;}
}
.pos-8{position:relative;margin-left:225px;margin-top:43px;}
.size-7{min-width:750px;width:750px;min-height:185px;height:185px;}
.cont-6{pointer-events:auto;}
.pos-9{position:relative;margin-left:-437px;margin-top:291px;}
.size-8{min-width:125px;width:125px;min-height:21px;}
.colwrapper{line-height:0;}
.pos-10{position:relative;margin-left:0;margin-top:0;}
.size-9{min-width:125px;width:125px;min-height:21px;}
.input-2{width:14px;height:14px;vertical-align:top;}
.font-4{font-size:14px;display:inline-block;overflow:hidden;vertical-align:middle;margin-top:0;line-height:normal;margin-left:3px;white-space:nowrap;width:108px;}
.pos-11{position:relative;margin-left:0;margin-top:-21px;}
@media (max-width:1199px) {
.pos-8{margin-left:180px;margin-top:34px;}
.size-7{min-width:600px;width:600px;min-height:148px;height:148px;}
.pos-9{margin-left:-350px;margin-top:195px;}
.size-8{min-width:100px;width:100px;min-height:50px;}
.pos-10{margin-top:25px;}
.size-9{min-width:100px;width:100px;min-height:25px;}
.font-4{width:83px;}
.pos-11{margin-top:-50px;}
}
